body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-input::placeholder {
    color: #999;
}

.btn-search {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #0056b3;
}

.btn-search:focus {
    background-color: #0056b3;
}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

.gallery-item-container {
        width: 360px;
        border: 1px solid #808080;
        background: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
}


.gallery-item img {
    width: 100%;
    height: 152px;
    object-fit: cover;
    display: block;
}
.info {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 25px;
}

.info p {
    display: flex;
    flex-direction: column;
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #2e2f42;
}


.info p span {
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33333;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.btn-load-more{
    border-radius: 8px;
        padding: 8px 16px;
        width: 125px;
        height: 40px;
        background: #4e75ff;
        border: none;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        margin-bottom: 44px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}


.btn-load-more:hover {
    background-color: #0056b3;
}

.btn-load-more:focus {
    background-color: #0056b3;
}
